body{
    background: rgb(0, 0, 0);
}


.navbar{
    background: rgb(0, 0, 0) !important;
    padding: 40px;
    .navbar-nav{
        li{
            font-size: 20px;
            font-weight: 600;
        }
    }
}


.rvi-container{
    border: 1px solid #6c757d;
    .rvi-microphone{
        padding: 5px !important;
        top: 0px !important;
        left: 0px !important;

        height: 36px !important;
        width: 37px !important;

        svg{ fill: #34a853 !important}
    }
}


.main{
    margin: 0px !important;
    padding: 0px !important;
    
    margin: 75px 40px !important;
    .card{
        height: 100vh;
        background: black;
        .card-body{
            margin: 0px !important;
            padding: 0px !important;

            .todo-list{
                margin-top: 50px;

                li{
                    border: 1px solid rgb(150, 150, 150);
                    border-radius: 5px;
                    margin-bottom: 10px;
                }

                .done{
                    background: rgba(240, 240, 240, 0.15);
                    // box-shadow: inset 0px 0px 5px 1px rgb(150, 150, 150) ;
                    
                    span{
                        color: rgb(100, 100, 100);
                        font-weight: 600;
                    }

                    .button-remove{
                        border: none;
                        border-radius: 50%;
                        font-weight: 500;

                        padding: 0px;
                        margin: 0px;

                        height: 25px;
                        width: 25px;

                        background: rgba(255, 0, 0, 0.445) !important
                    }
                }
                .todo{
                    background: rgb(207, 207, 207);
                    
                    span{
                        color: rgb(50, 50, 50);
                        font-weight: 600;
                    }

                    .button-remove{
                        border: none;
                        border-radius: 50%;
                        font-weight: 500;

                        padding: 0px;
                        margin: 0px;

                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }

    .navbar{
        height: 55px;
        padding: 5px 40px;
    }
}